@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

:root {
  font-family: 'JetBrains Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fffbfb; /* Dracula foreground */
  background-color: #232323; /* Dracula background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #bd93f9; /* Dracula purple */
  text-decoration: inherit;
}
a:hover {
  color: #ff79c6; /* Dracula pink */
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #212123; /* Dracula background */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f1fa8c; /* Dracula yellow */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #44475a; /* Dracula selection background */
  color: #f8f8f2; /* Dracula foreground */
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #ff79c6; /* Dracula pink */
  background-color: #6272a4; /* Dracula comment */
}
button:focus,
button:focus-visible {
  outline: 2px solid #8be9fd; /* Dracula cyan */
}

.card {
  padding: 2em;
  background-color: #44475a; /* Dracula selection */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #f8f8f2; /* Dracula foreground */
}


.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.tabs-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.tab-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

.tabs button {
  padding: 8px 40px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  margin: 0 10px;
  position: relative;
  color: #fffbfb;
}

.tabs button.active {
  background-color: #8a57e9;
  border: 1px solid #8a57e9;
  border-bottom: none;
  box-shadow: 0 0 10px rgba(138, 87, 233, 0.5);
}

.tab-content {
  padding: 16px;
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.tab-pane {
  animation: fadeIn 0.3s;
  width: 100%;
  max-width: 800px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}